<div class="page-header">
  <%= link_to new_pedido_produdo_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h1>Lista</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Pedido</th>
            <th>Produto</th>
            <th>Valor</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @pedido_produdos) do |pedido_produdo| %>
            <td><%= pedido_produdo.pedido %></td>
            <td><%= pedido_produdo.produto %></td>
            <td><%= pedido_produdo.valor %></td>
            <td><%= link_to 'Mostrar', pedido_produdo %></td>
        <td><%= link_to 'Editar', edit_pedido_produdo_path(pedido_produdo) %></td>
        <td><%= link_to 'Apagar', pedido_produdo, method: :delete, data: { confirm: 'Confirma?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
